.container{
    height: 100vh;
}
.container h1{
    text-align: center;
    font-size: 3.5rem;
    color: var(--Bone);
}
.container p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--Bone);
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    gap: 5rem;
    text-align: center;
}

.card{
    background-color: var(--colorCards);
    background-color: rgba(13, 13, 12, 0.88);
    height: 350px;
    width: 300px;
    border-radius: 1rem;
    margin: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    box-shadow: 10px 10px 20px 10px rgba(0,0,0,1);
    cursor: pointer;
    transition: transform .3s;
}
.card:hover{
    transform: scale(1.03);
    transition: .3s;
}

.card h4{
    font-size: 2rem;
    color: black;
    color: var(--Bone);

}
.card p {
    font-size: 1.5rem;
    margin: auto;
    color: black;
    color: var(--Bone);
}


