.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    margin :0;

    @media (max-width: 768px) {
        margin-top: 70rem;
    }
}


.container h1{
    text-align: center;
    color: var(--Bone);
    font-size: 3.5rem;
}
.container p{
    color: var(--Bone);
    font-size: 2.5rem;
}



form{
    margin-top: 5rem;
    border-radius: 1rem;
    background:var(--colorCards);
    background-color: rgba(13, 13, 12, 0.88);
    box-shadow: 2px 2px 20px 2px rgba(0,0,0, 1);
    backdrop-filter: blur(4px);
    border: 2px solid #000;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (max-width:768px) {
        margin-top: 0;
        width: 30rem;
        height: 50rem;
    }
}

.form h4{
    font-size: 3rem;
    color: var(--Bone);
}
.form span{
    color: var(--Bone);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    @media (max-width:768px) {
        font-size: 1rem;
    }
}
hr{
    border: 0px solid #585757;
}
input{
    background-color: var(--Bone);
    width: 30rem;
    border: none;
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: auto;
    font-family: var(--fuentePrincipal);
    text-align: center;
    @media (max-width:768px) {
        width: 20rem;
        height: 3rem;
    }
}
textarea{
    background-color: var(--Bone);
    border: none;
    border-radius: 5px;
    width: 30rem;
    height: 10rem;
    padding: 0;
    resize: none;
    text-align: center;
    font-family: var(--fuentePrincipal);
    @media (max-width:768px) {
        width: 20rem;
        height: 6rem;
    }
}

.container button{
    margin: auto;
    border: none;
    border-radius: 50px;
    padding: 1.5rem;
    cursor: pointer;
    font-family: var(--fuentePrincipal);
    background-color: var(--Bone);
    transition: .3s;
    font-size: 2rem;
    color: #000;
    margin-bottom: 2rem;
    margin-top: 0;
    @media (max-width:768px) {
        width: 20rem;
        height: 6rem;
        margin-bottom: 2rem;
    }
}

.container button:hover{
    background-color: var(--oxfordBlue);
    color: var(--Bone);
    border: 1px solid var(--Bone);
    transition: .3s;
}

.empty {
    border: 1px solid red;
}
.error{
    font-size: 1.3rem;
    background-color: rgb(105, 7, 7);
    border-radius: 5px;
    width: 50%;
    color: rgb(202, 202, 202);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 100;

    @media (max-width:768px) {
        font-size: .8rem ;
        margin: 0;
        border-radius: 2px;
    }
}


