
.navegacion{
    display: flex;
    height: 10rem;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    background-color: var(--oxfordBlue);
    background-color:    rgba(0, 33, 71, .9);
}

nav a{
    cursor: pointer;
    margin: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    padding: 1.5rem;
    border-radius: 25px;
    transition: .4s;
}
nav a:hover{
    background-color: var(--Bone);
    color: black;
    border-radius: 50px;
    transition: .4s;
}
